/* Arquivo style.css */

/* Estilo geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333;
}

/* Estilo do cabeçalho */
header {
  background-color: #333;
  width: 100%;
  height: 11vh;
  display: flex;
  color: white;
  box-sizing: border-box;
  justify-content: end;
  align-items: center;
  box-shadow: 1 1 1 black;
}

nav {
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

/* Estilo da seção Home */
#container_home {
  height: 100vh;
  width: 92vw;
  display: flex;
  margin-left: 5em;
  justify-content: center;
}

.home{
  width: 90%;
  margin: auto auto;
}
.home h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  margin-top: 8rem;
  margin-bottom: 0;
}

.home p {
  margin-top: 10px;
  color: #ff4500;
  font-size: 1.8rem;
  margin-bottom: 1.5em;
  font-weight: bold;
}

#div-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin-right: 3em;
 
  
}

#img-home{
  background-image: url("../img/pngwing.com\ \(1\).png");
  width: 500px;
  height: 402px;
  margin-top: 5em;
}

#links-web {
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.164);
  padding-bottom: 10px;
}

.fa-linkedin {
  font-size: 30px;
  color: #0e76a8;
}

.fa-linkedin:hover{
  color: #fff;
}

#links-web a .fa-github {
  font-size: 30px;
  color: #7700ff;
}

#links-web a .fa-github:hover{
  color: #fff;
}

.img{
  width: 100%;
  height: auto;
  margin-top: 4em;
}

/* Estilo da seção Sobre */

#projetos {
  display: flex;
  gap: 3em;
  justify-content: space-between;
  height: 90vh;
  margin-top: 3em;
  padding-top: 1.5em;
  color: #fff;
}

#perfil-container {
  width: 300px;
  margin-left: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 20px;
  background-color: rgb(37, 37, 37);
  border-radius: 2px;
}

.fixed-div{
  position: fixed;
  top: 5em;
  
}

#sobre-image {
  background-image: url(../img/about.png);
  width: 100%;
  max-width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 100%;
 
}
#skills{
  text-align: center;
  margin-top: 0px;
}

#localidade{
  margin-top: 5px;
}

#contato{
  margin: 5px;
  padding-bottom: 10px;
}

#email{
  display: flex;
  width: 90%;
  margin-bottom: 0;
  padding: 5px;
}

#email-text{
  text-align: center;
  width: 90%;
  padding-bottom:5px ;
  margin-top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.164);
}

#container-projetos{
  width: 100%;
  height: auto;
  padding-bottom: 2em;
  margin-bottom: 3em;
  border: 1px solid lightgray;
}

#portfolio{
  width: 100%;
  color: #000;
  border-left: 1px solid lightgray

}

#portfolio h2{
  text-align: center;
  margin-bottom: 3em;
 
}

#portfolio h4{
  border-bottom: 1px solid lightgray;
}

.descricao-projeto{
  width: 100%;
  margin-left: 2rem;
}


.descricao-projeto{
  width: 93%;
  margin-bottom: 10px;
}

.descricao-projeto p, ul{
  font-weight: 100;
}
.descricao-projeto p, ul {
  margin-left: 2.5em;
  
}

#img-projeto img{
  display: flex;
  margin: auto auto;
  width: 100%;
  max-width: 750px;
  height: auto;
  box-shadow: 1px 1px 1px 1px  rgba(0, 0, 0, 0.411);
}

#links-projeto{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 2em;
  margin-left: 3em;
}

#links-projeto a:hover{
  color: #0e76a8;
}


/* Estilos responsivos */

/* Dispositivos pequenos */
@media screen and (max-width: 1000px) {

  #perfil-container{
    display: none;
  }

  #portfolio{
    width: 100%;
  }

  #projetos{
    width: 100vw;
    margin: 0;
  }
}

@media screen and (max-width: 882px) {

  #div-img{
    display:none
  }

  #perfil-container{
    display: none;
  }

  #container_home{
    width: 100vw;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {

  #div-img{
    display:none
  }

  #perfil-container{
    display: none;
  }

  div a img{
    max-width: 200px;
  }
}